.container {
  margin: 20px 0;
}

.button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f0e68c;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #87ceeb;
}
